html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#control-panel {
    height: 100%;
    width: 20%;
    margin-right: auto;
    margin-left: 0;
    float: left;
    padding: 25px;
}

#map {
    height: 100%;
    width: 80%;
    margin-right: 0;
    margin-left: auto;
    float: right;
}

#select-panel {
    width:100%;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 25px;
}

#threshold-panel {
    margin-bottom: 20px;
}

#source-country {
  margin-bottom: 15px;
}

#dest-country {
  margin-bottom: 15px;
}

#selection-text {
  margin-top: 20px;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
